$padding-full: rem-calc($grid-column-gutter);
$padding-half: rem-calc($grid-column-gutter) / 2;


body {
  background-size: cover;

  // @include breakpoint(small) {
  //   background-image: url(../images/bg-sm.jpg);
  // }

  @include breakpoint(medium) {
    background-image: url(../images/bg-md.jpg);
  }

  @include breakpoint(large) {
    background-image: url(../images/bg-lg.jpg)
  }
}

.wrap {
  background-color: #fff;
}
.main {
  padding-top: $padding-half;
}

address {
  font-style: normal;
}
