.content-info {
  background-color: #fff;
  border-top: 2px solid $grey;

  .row {
    margin-left: rem-calc($grid-column-gutter) / 2;
    margin-right: rem-calc($grid-column-gutter) / 2;
    padding-top: rem-calc($grid-column-gutter);
  }

  .row img {
    margin-bottom: rem-calc($grid-column-gutter) / 2
  }

}
