.column {
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: rem-calc($grid-column-gutter);
  }
}

.page-header {
  @include flex-grid-column(12);

  .content {
    height: 50vh;
    background: url(../images/ezgrow-header.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  margin-bottom: rem-calc($grid-column-gutter);
}
